<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="../lib/angular.js"></script>
	<script src="script.js"></script>
</head>
<body>
	<div ng-controller="InvoiceCntl">
		<b>Invoice:</b>
		<br>
		<br>
		<table>
			<tr><td>Quantitly</td><td>Cost</td></tr>
			<tr>
				<td>QQ<input type="integer" min="0" ng-model="qty" required></td>
				<td><input type="number" ng-model="cost" required></td>
			</tr>
		</table>
		<hr>
		<b>Total:</b>{{qty*cost|currency}}
	</div>
</body>
</html>